.input1{
    height: 50px;
    font-family: Roboto;
 font-size: 20px;
font-weight: 300;
line-height: 14px;
text-align: left;
padding: 0px 9px;
width: 100%;
}
@media (max-width:480px) {
    .input1{
        height: 40px;
        font-family: Roboto;
     font-size: 14px;
    font-weight: 300;
    line-height: auto;
    text-align: left;
    }
}